[client-server]
!includedir /etc/my.cnf.d

[mysqld]
bind-address = 127.0.0.1 
default-storage-engine = Innodb
performance-schema = 0
ssl=0
sql_mode = '' 
tmpdir=/var/tmpfs

local-infile = 0
loose-local-infile = 0
symbolic-links = 0
back_log = 100
ft_min_word_len = 4

innodb_buffer_pool_size = 72G      
innodb_log_file_size = 4G
innodb_purge_threads = 4
innodb_file_per_table = 1
innodb_flush_log_at_trx_commit = 2
innodb_flush_method = O_DIRECT
innodb_log_buffer_size = 128M
innodb_stats_on_metadata = 0
max_allowed_packet = 1G

# Genel performans ayarları
net_buffer_length = 16384
concurrent_insert = 2
transaction_alloc_block_size = 8192
transaction_prealloc_size = 4096
max_write_lock_count = 1
external-locking = FALSE
open_files_limit = 65535

interactive_timeout = 300
wait_timeout = 600
connect_timeout = 100

max_connections = 5000
max_connect_errors = 1000
max_user_connections = 2000
long_query_time = 2.5

query_cache_type = 1
query_cache_size = 2G
query_cache_limit = 256M
query_prealloc_size = 262144
thread_cache_size = 384
thread_handling = one-thread-per-connection
thread_stack = 192K
table_open_cache = 50000
table_definition_cache = 50000
key_buffer_size = 8G
myisam_sort_buffer_size = 256M
join_buffer_size = 8M
read_buffer_size = 8M
read_rnd_buffer_size = 32M
sort_buffer_size = 32M
bulk_insert_buffer_size = 1G
tmp_table_size = 8G
max_heap_table_size = 8G
